.logo_Booki {
    width: 61.09px;
    height: 19px;
    padding: 44px 0px 0px 55px
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    margin:0 30px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.menu_header {
    display: flex;
    padding : 48px 77px 0px 0px;
    list-style-type : none;
    margin:10px 10px 10px 10px;  
    
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    color: blue;
}